<div class="container flex justify-center p-5">
  <button mat-raised-button type="button" (click)="startGame()" [disabled]="this.game.started">Start Game</button>
</div>

<div class="container flex justify-center text-center">
  <div>
    <div>Turn: {{game.board1.getTotalTilesOpen()}}</div>
    <div>Ship: {{game.board1.getTotalTilesWithShipAlive()}}</div>
  </div>
  <div class="w-48"></div>
  <div>
    <div>{{ difficultText }}</div>
    <div *ngIf="this.game.started">{{ isTurnOfPlayerOne() ? 'Your turn (Right)' : 'CPU turn (Left)' }}</div>
  </div>
  <div class="w-48"></div>
  <div>
    <div>Turn: {{game.board2.getTotalTilesOpen()}}</div>
    <div>Ship: {{game.board2.getTotalTilesWithShipAlive()}}</div>
  </div>
</div>

<div class="container flex justify-center">
  <div class="board-container">
    <div class="board is-user" [ngClass]="{ 'active': isTurnOfPlayerTwo() }">

      <div class="board__content ml-4 mt-4" [style]="'width: ' + boardWidth + 'px'">
        <div
          *ngFor="let tile of game.board1.tiles"
          [class]="'board__tile ship-' + tile.ship?.index"
          [style]="'width: ' + tileSize + 'px; height: ' + tileSize + 'px'"
          [ngClass]="{
            'open': isTileStateOpen(tile),
            'explosion': isTileStateOpen(tile) && tile.ship,
            'to-reveal': tile.ship && tile.ship.size == 0,
            'reveal': tile.ship
          }"
        ><span [class]="'tile-' + getRowCol(tile.index)"></span></div>
      </div>
    </div>
    <div class="p-5 text-center">
      <button mat-raised-button (click)="shuffle()" [disabled]="this.game.started">Shuffle</button>
    </div>
  </div>

  <div class="board-container">
    <div class="board is-cpu" [ngClass]="{ 'active': isTurnOfPlayerOne() }">
      <div class="board__content ml-4 mt-4" [style]="'width: ' + boardWidth + 'px'">
        <div
          *ngFor="let tile of game.board2.tiles"
          [class]="'board__tile ship-' + tile.ship?.index"
          [style]="'width: ' + tileSize + 'px; height: ' + tileSize + 'px'"
          (click)="onTileClick(tile)"
          [ngClass]="{
            'open': isTileStateOpen(tile),
            'explosion': isTileStateOpen(tile) && tile.ship,
            'to-reveal': tile.ship && tile.ship.size == 0
          }"
        ><span [class]="'tile-' + getRowCol(tile.index)"></span></div>
      </div>
    </div>
  </div>

</div>
